.aboutPage {
  width: 100%;
}

/* HERO */
.hero {
  padding: 140px 10%;
  text-align: center;
  background: linear-gradient(180deg, #0a0f1f, #000);
  color: white;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.hero p {
  font-size: 18px;
  max-width: 750px;
  margin: auto;
  line-height: 1.8;
  opacity: 0.9;
}

/* SECTIONS */
.section {
  padding: 90px 12%;
  background: #ffffff;
}

.alt {
  background: #f6f7f9;
}

.section h2 {
  font-size: 34px;
  margin-bottom: 24px;
  color: #111;
}

.section p {
  font-size: 17px;
  line-height: 1.9;
  max-width: 950px;
  color: #444;
  margin-bottom: 16px;
}

/* END NOTE */
.endNote {
  padding: 100px 12%;
  text-align: center;
  background: #0a0f1f;
  color: white;
}

.endNote h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.endNote p {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
  line-height: 1.8;
  opacity: 0.9;
}



@media (max-width: 768px) {

  /* HERO */
  .hero {
    padding: 90px 6%;
  }

  .hero h1 {
    font-size: 30px;
    line-height: 1.3;
  }

  .hero p {
    font-size: 15px;
    max-width: 100%;
  }

  /* SECTIONS */
  .section {
    padding: 60px 7%;
  }

  .section h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .section p {
    font-size: 15px;
    line-height: 1.7;
    max-width: 100%;
  }

  /* END NOTE */
  .endNote {
    padding: 70px 7%;
  }

  .endNote h3 {
    font-size: 24px;
  }

  .endNote p {
    font-size: 15px;
    max-width: 100%;
  }
}
